body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}

textarea{
    width: 100%;

    margin-top: 10px;
    left: 0;
    right: 0;
    transition: 500ms;
    display: block;
    height: 200px;
}

.tasks, .participant{
    width: 90%;
    max-width: 811px;
    margin: auto;
}

textarea:focus{
    height: 500px;
}

.participant{
    margin-bottom: 30px;
}

.experiment{
    margin: auto;
    width: 95%;
}

.experiment > .title{
    text-align: center;
    margin: 50px;
}


form{
    margin: 30px;
}

.participant .control-label{
    width: 66px;
    text-align: left;
}

.participant .controls{
    margin-left: 0;
}