.task{
    height: 10%;
    width: 100%;
}

.iframe{
    width:100%;
    height: 90%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

iframe{
    border:0;
    min-height: 100%;
    min-width: 100%;
}

body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal button.close{
    display: none;
}

.task .title{
    margin: 10px;
}

.screen{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}

.task-container{
    overflow: hidden;
}

.startup,
.finish{
    overflow: scroll;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 500ms;
}

.experiment-id{
    color: black;
    cursor: text;
}

.input-prepend > *{
    font-size: 18px !important;
}

.modal{
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
}

/*
Peformance increase
*/
/*Disable Bootstrap animation*/
.modal.fade.in,
.modal.fade{
    top:0;
}

.modal.fade.in{
    -webkit-transform: translateY(10%);
}

.modal.fade{
    position: absolute;
    -webkit-transform: translateY(-135%);

            transition: all 1s ease-out .2s;
    -webkit-transition: all 1s ease-out .2s;
}

.modal*{
    -webkit-backface-visibility: hidden;/*to reduce flicker in iOS*/
}


.modal-backdrop{
            transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
}


/* Custom container */
.container-narrow {
    padding-top: 20px;
    padding-bottom: 40px;

    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


#nexttaskmodal .modal-body{
    font-size: 160%;
    line-height: 32px;
}

#nexttaskmodal button{
    width: 100%;
    font-size: 160%;
    height: 41px;
}